.article-form {
    &_wrapper {
        padding-top: 50px;
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        background-color: #fff;
        width: 938px;
        border: 1px solid #D9D9D9;
        box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
        border-radius: 6px;
        padding: 60px 32px;
        gap: 20px;

    }

    &_delete-tag {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #F5222D;
        color: #F5222D;
        font-weight: 600;
        padding: 11px 27px;
    }

    &_add-tag {
        position: absolute;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #1890FF;
        color: #1890FF;
        font-weight: 600;
        padding: 11px 27px;
        bottom: 0;
        left: 415px;
    }

    &_tag-wrapper {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    &_button {
        margin-top: 10px;
        padding: 8px 0;
        width: 287px;
        align-self: flex-start;
        background: #1890FF;
        border-radius: 4px;
        border: unset;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
    }

    &_label {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;

        &-tag {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-height: 40px;
        }
    }

    &_title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }

    &_input {
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        padding: 8px 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        &-tag {
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            padding: 8px 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            width: 260px;
        }
    }

    &_textarea {
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        padding: 8px 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        height: 170px;
        resize: none;
    }

    &_error {
        font-size: 14px;
        line-height: 22px;
        color: #F5222D;
        height: 22px;
        font-weight: 400;

        &_tag:last-child {
            font-size: 14px;
            line-height: 22px;
            color: #F5222D;
            height: 22px;
            font-weight: 400;
            position: absolute;
            bottom: -20px;
        }
    }
}